.navbar {
    position: relative;
    top:-3px;

    
    height: 60px;
    width: 100vw;

    background-color: #0e486c;

    border-bottom: 3px solid;

}


.navbar a {
    position: relative;
    top: 20px;

    text-align: center;
    background-color: #4b83a6;
    color:rgb(0,0,0);
    text-decoration: none;
    
    border: 3px solid;
    border-radius: 10px;

    margin: 1px 10px 1px 10px;
    padding: 4px;
}

.navbar a:hover {
    text-decoration: none;
    
    background-color: rgb(245,245, 220);
    color: #0e486c;
}

 .right {
    float: right;
    padding-right: 50px;
}